<!-- <h1 style="text-align: center">Exemple de connexion Angular 9</h1>
<div class="login">
  <h2 class="login-header">S'identifier</h2>
  <form
    [formGroup]="loginForm"
    class="login-container"
    (ngSubmit)="seConnecter()"
  >
    <p [ngClass]="{ 'has-error': isSubmitted }">
      <input type="email" placeholder="Email" formControlName="email" />
    </p>

    <p [ngClass]="{ 'has-error': isSubmitted }">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </p>

    <p>
      <input type="submit" value="Log in" />
    </p>
  </form>
</div> -->
