<div class="flex items-center m-10 text-6xl text-blue">
  <h1 class="mx-auto">Liste des créations Ducasse</h1>
</div>

<div
  class="grid grid-cols-4 gap-4 mx-4 items-center justify-center min-h-screen from-[#F9F5F3] via-[#F9F5F3] to-[#F9F5F3] bg-lightbluepastel"
>
  <div
    class="w-full max-w-md mx-auto bg-white rounded-3xl shadow-xl overflow-hidden"
    *ngFor="let recette of recettes"
  >
    <div
      class="max-w-md mx-auto bg-[#FFF] h-[32rem] cursor-pointer"
      (click)="detailRecette(recette.id)"
    >
      <div
        class="h-[236px] bg-cover bg-center"
        style="
          background-image: url('{{ recette.photo }}');
        "
      ></div>
      <div class="p-4 sm:p-6">
        <p class="font-bold text-blue text-[22px] leading-7 mb-1">
          {{ recette.nom }}
        </p>
        <p class="text-sm text-blue">
          Temps de préparation : {{ recette.temps_preparation }} min | Temps de
          cuisson : {{ recette.temps_cuisson }} min
        </p>
        <span
          *ngIf="isAllergene(recette); else notAllergene"
          class="block mt-4 w-full px-4 py-3 font-medium text-center text-lightbluepastel bg-[#D11149] rounded-[14px]"
          >Contient allergènes
        </span>
        <ng-template #notAllergene>
          <span
            class="block mt-4 w-full px-4 py-3 font-medium text-center text-lightbluepastel bg-darkblue rounded-[14px]"
            >Sans allergènes
          </span>
        </ng-template>

        <p class="text-[#7C7C80] font-[15px] mt-4 mb-1">
          {{ recette.description.substr(0, 100) }}...
        </p>
      </div>
    </div>
  </div>
</div>
