<!-- Ingrédient -->
<div class="mt-10 mx-10 grid grid-cols-2 items-center">
  <img
    src="{{ recetteDetail.photo }}"
    alt=""
    srcset=""
    class="rounded-md border-2 border-blue"
  />
  <div>
    <h1 class="text-5xl mb-10">{{ recetteDetail.nom }}</h1>
    <p class="text-justify">{{ recetteDetail.description }}</p>
    <p>
      Temps de préparation : {{ recetteDetail.temps_preparation }} minutes |
      Temps de cuisson : {{ recetteDetail.temps_cuisson }} minutes
    </p>
    <div class="grid grid-cols-3 gap-2">
      <button
        class="mt-10 w-full px-4 py-3 font-medium text-center text-lightbluepastel bg-darkblue rounded-[14px]"
      >
        Imprimer
      </button>
      <button
        class="mt-10 w-full px-4 py-3 font-medium text-center text-lightbluepastel bg-darkblue rounded-[14px]"
      >
        Modifier
      </button>
      <button
        class="mt-10 w-full px-4 py-3 font-medium text-center text-lightbluepastel bg-darkblue rounded-[14px]"
      >
        Supprimer
      </button>
    </div>
  </div>
</div>
<!-- Ingrédients -->
<div class="m-10 pb-10 bg-lightgold rounded-xl">
  <h1 class="text-5xl text-blue pt-10 m-10 text-center">Ingrédients</h1>
  <div class="flex justify-center">
    <div
      class="bg-blue rounded-lg shadow-lg p-6 w-175 h-213 flex flex-col justify-center items-center m-5"
      *ngFor="let ingredient of recetteDetail.ingredients"
    >
      <img
        src="{{ ingredient.photo }}"
        alt="{{ ingredient.name }}"
        class="w-[50px] h-[50px] object-cover rounded-[10px]"
      />
      <h3
        class="font-bold mt-4 text-center text-gold hyphens-auto break-all w-[10ch]"
      >
        {{ ingredient.nom }}
      </h3>
      <p class="text-center text-gold mt-2">{{ ingredient.dosage }}</p>
      <p class="text-center text-gold mt-2">
        {{ ingredient.allergene ? "❗ Allergene" : "" }}
      </p>
    </div>
  </div>
</div>
<!-- Etapes -->
<div class="m-10 pb-10 bg-blue rounded-xl">
  <h1 class="text-5xl text-gold pt-10 m-10 text-center">Etapes</h1>
  <div>
    <div
      *ngFor="let etape of recetteDetail.etapes"
      class="m-6 rounded-md p-4 bg-gold"
    >
      <p class="text-lg mb-4 text-blue">Etape n°{{ etape.numero_ordre }}</p>
      <p class="text-blue text-justify">{{ etape.instructions }}</p>
    </div>
  </div>
</div>
